<h5>Registro de conductor</h5>
<div class="col-12  w-100 text-center justify-items-center">
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text"[(ngModel)]="name"  pInputText placeholder="Nombre" name="name">
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" [(ngModel)]="lastname" pInputText placeholder="Lastname" name="lastname">
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" [(ngModel)]="dni" pInputText placeholder="Dni" name="dni">
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" [(ngModel)]="placa" pInputText placeholder="Placa" name="placa">
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" [(ngModel)]="marca" pInputText placeholder="Marca" name="marca">
        </div>
    </div>
    <div class="col-12 md:col-4">
        <button ngDefaultControl pButton type="button" [(ngModel)]="name" label="Registrarme" (click)="updateDrivert()" ></button>
    </div>
</div>